{:paths ["src"
         ;; vendor squint so we don't need java to resolve deps
         ;; https://github.com/squint-cljs/squint
         "vendor/squint-0.14.208.jar"]
 :tasks
 {build {:doc "Build the published site into public/"
         :requires ([site])
         :task (try (site/build)
                    (catch clojure.lang.ExceptionInfo e (println (ex-message e)) (System/exit 1)))}
  dev   {:doc "Serve drafts too at localhost:8080, rebuild on save"
         :task dev/start}
  cards {:doc "Fetch every card from NetrunnerDB into cards/"
         :task nrdb/cards}
  decklist {:doc "Fetch a NetrunnerDB decklist into decklists/: bb decklist <url>"
            :requires ([nrdb])
            :task (nrdb/decklist (first *command-line-args*))}}}
