---
title: Test Run
id: test_run
code: '31028'
side: runner
faction: shaper
type: event
cost: 3
influence: 3
limit: 3
set: Cyber Exodus
released: '2013-02-14'
formats:
- eternal
- ram
- snapshot
- standard
- startup
image: https://card-images.netrunnerdb.com/v2/large/31028.jpg
nrdb: https://netrunnerdb.com/en/card/31028
---
## Image

![Test Run](https://card-images.netrunnerdb.com/v2/large/31028.jpg)

## Text

Search either your stack or your heap for 1 program. *(Shuffle your stack after searching it.)* Install that program, ignoring all costs. When your turn ends, if that program has not been uninstalled, add it to the top of your stack.
