<nav class="site-nav">
  <a href="{{ root }}"{% if not url %} aria-current="page"{% endif %}>HQ</a>
  <a href="{{ root }}r-d/"{% ifequal url "r-d/" %} aria-current="page"{% endifequal %}>R&amp;D</a>
  <a href="{{ root }}archives/"{% ifequal url "archives/" %} aria-current="page"{% endifequal %}>ARCHIVES</a>
  <a href="{{ root }}id/"{% ifequal url "id/" %} aria-current="page"{% endifequal %}>ID</a>
</nav>
<style>
  .site-nav {
    display: flex;
    gap: 1rem;

    & [aria-current] {
      color: var(--accent);
    }
  }
</style>
