<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if url %}{{ title }} | {% endif %}Sure Gamble</title>
  {% if summary %}<meta name="description" content="{{ summary }}">{% endif %}
  <link rel="stylesheet" href="{{ root }}assets/site.css">
  <link rel="alternate" type="application/atom+xml" href="{{ root }}feed.xml">
</head>
<body>
  {% include "header.html" %}
  <main>{{ main|safe }}</main>
  {% include "footer.html" %}
</body>
</html>
